# Repository ownership
* @ziadabdelnaby10

/.github/ @ziadabdelnaby10
/docs/ @ziadabdelnaby10
/docker-compose.yml @ziadabdelnaby10
/ports.txt @ziadabdelnaby10

/config-service/ @ziadabdelnaby10
/customer-service/ @ziadabdelnaby10
/discovery-service/ @ziadabdelnaby10
/gateway-service/ @ziadabdelnaby10
/inventory-service/ @ziadabdelnaby10
/notification-service/ @ziadabdelnaby10
/order-service/ @ziadabdelnaby10
/payment-service/ @ziadabdelnaby10
